body{
    color: rgb(200,200,200);
    font-family: 'Titillium Web';
    font-weight: 400;
    background-color: rgb(25,35,45);
}

.jumbotron{
	background-color: lightskyblue;
	margin-bottom: 0;
}

.container{
	height: 100vh;
	widows: 100vw;
}

.jumbotron h1{
	font-size: 30px;
	font-weight: 500;
	color: white;
}

.row p{
	margin: auto;
	font-weight: 500;
	font-size: 30px;
	color: white;
}

#weather-form{
	margin: auto;
	text-align: center;
	width: 30%;
}

#error{
	font-size: 30px;
	color: white;
}

.card-wrapper{
	display: flex;
	justify-content: space-between;
    position: relative;
    margin: auto;
    overflow: visible;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    perspective: 1000px;
    transform-style: preserve-3d;
}

.card{
    padding: 16px;
    margin-bottom: 60px;
    text-align: center;
    background-color: rgb(25,35,45);
    box-sizing: border-box;
    transition: all 500ms ease-out;
    transform: rotateY(180deg);
	backface-visibility: hidden;
	margin-bottom: 0;
	margin-top: 20px;
	border: none;
}

#city{
	margin-right: 5px;
}

.box-highlight{
    padding: 8px 4px;
    background-color: #3B444C;
    background-color: rgba(255,255,255, .15);
    text-shadow: 0 5px 5px rgb(25,35,45);
}

.card:hover{
    box-shadow: 0 0 20px 10px rgb(5,15,25);
    z-index: 2;
}

.card-header:hover{
	color: #FFAC33;
}

.sunrise-box,
.city-information{
	display: flex;
	justify-content: space-between;
}

.sunrise-box{
	border-top: 1px solid rgb(200,200,200);
}

.card-info-sunrise{
	margin-right: 10px;
	margin-bottom: 0;
}

.card-info-sunset{
	margin-left: 10px;
	margin-bottom: 0;
}

.card-header{
	background-color: rgb(25,35,45);
	color: rgb(200,200,200);
    padding-bottom: 8px;
    border-bottom: 1px solid rgb(200,200,200);
    margin: 0;
    text-transform: capitalize;
}

.card-temp{
    margin: 5px 0 10px 0;
    font-size: 4em;
	color: white;
	background-color: #3B444C;
}

.sunrise-box,
.city-information{
	background-color: rgb(25,35,45);
}

.card-info{
    padding-top: 8px;
    border-top: 1px solid rgb(200,200,200);
    margin: 10px 0 0 0;
    font-size: 1.25em;
}

.weather-pic{	
	margin: auto;
	margin-bottom: 5px;
	width: 100px;
	height: 100px;
	background-image: url(../img/sun.svg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;	
	position: relative;
}

.card-temp::after{
    content: "\00B0";
}

.icon{
    margin-top: 50px;
    display:flex;
    align-items: flex-end;
    justify-content: center;
}

.anim-flip{
    animation-name: flip;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes flip{
    0%{
        transform: rotateY(180deg);
        filter: blur(10px);
    }
    100%{
        transform: rotateY(0deg);
        filter: blur(0);
    }
}