body{
    color: rgb(200,200,200);
    font-family: 'Titillium Web';
    font-weight: 400;
    background-color: rgb(25,35,45);
}

::selection{
    background-color: transparent;
}

.jumbotron{
	background-color: lightskyblue;
	margin-bottom: 0;
}

.container{
	height: 100vh;
	widows: 100vw;
}

.jumbotron h1{
	font-size: 30px;
	font-weight: 500;
	color: white;
}

.row p{
	margin: auto;
	font-weight: 500;
	font-size: 30px;
	color: white;
}

#weather-form{
	margin: auto;
	text-align: center;
	width: 30%;
}

#error{
	font-size: 30px;
	color: white;
}

.card-wrapper{
    position: relative;
    margin: auto;
    overflow: visible;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    perspective: 1000px;
    transform-style: preserve-3d;
}

.card{
	position: relative;
	margin-top: 50px;
}

.box-highlight{
    padding: 8px 4px;
    background-color: #3B444C;
    background-color: rgba(255,255,255,.15);
    text-shadow: 0 5px 5px rgb(25,35,45);
}

.card:hover{
    box-shadow: 0 0 20px 10px rgb(5,15,25);
    z-index: 2;
}
.card:hover:not(span){
    color: #FFAC33;
}
.card-header{
    padding-bottom: 8px;
    border-bottom: 1px solid rgb(200,200,200);
    margin: 0;
    text-transform: capitalize;
}
.card-temp{
    margin: 5px 0 10px 0;
    font-size: 4em;
    color: white;
}
.card-info{
    padding-top: 8px;
    border-top: 1px solid rgb(200,200,200);
    margin: 10px 0 0 0;
    font-size: 1.25em;

}

.card-temp::after{
    content: "\00B0";
}
.icon{
    margin-top: 50px;
    display:flex;
    align-items: flex-end;
    justify-content: center;
}
.cloud-group{
    width: 120px;
    height: 106px;
}
.icon-cloud{
    position: absolute;
    background-color: white;
    display: block;
}
.shadow-cloud-clip{
    box-shadow: 2px -6px 0 rgb(25,35,45);
}
.cloud-base{
    top: 27px;
    left: 0;
    width: 100%;
    height: 45px;
    border-radius: 40px;
    z-index: 1;
}
.cloud-circle{
    top: 0;
    left: 15px;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    z-index: 2;
}
.cloud-circle::after{
    content: "";
    position: absolute;
    top: 8px;
    left: 46px;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background-color: inherit;
    box-shadow: 1px -6px 0 rgb(25,35,45);

}
.sun{
    top: -12px;
    left: 53px;
    width: 60px;
    height: 60px;
    border-radius: 60px;
}
.sunshine,
.sunshine::before,
.sunshine::after{
    position: absolute;
    width: 18px;
    height: 8px;
    border-radius: 8px;
}
.sunshine{
    top: 17px;
    right: -17px;
}
.sunshine::before,
.sunshine::after,
.rain::before,
.rain::after{
    content: "";
    background-color: inherit;
}
.sunshine::before{
    top: -48px;
    right: 45px;
    transform: rotate(-90deg);
}
.sunshine::after{
    top: -33px;
    right: 11px;
    transform: rotate(-45deg);
}
.rain{
    left: 0;
    bottom: -86px;
    transform: rotate(-75deg);
}
.rain,
.rain::before,
.rain::after{
    position: absolute;
    width: 40px;
    height: 8px;
    border-radius: 8px;
    box-shadow: 2px 0 0 4px rgb(25,35,45);
    z-index: 2;
}
.rain::before{
    left: 9px;
    bottom: -35px
}
.rain::after{
    right: -18px;
    bottom: -69px
}

.anim-flip{
    animation-name: flip;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.anim-flip-card-2{
    animation-delay: 166ms;
}
.anim-flip-card-3{
    animation-delay: 332ms;
}
.anim-flip-card-4{
    animation-delay: 498ms;
}
.anim-flip-card-5{
    animation-delay: 664ms;
}
.anim-flip-card-6{
    animation-delay: 830ms;
}
.anim-flip-card-7{
    animation-delay: 996ms;
}

@keyframes flip{
    0%{
        transform: rotateY(180deg);
        filter: blur(10px);
    }
    100%{
        transform: rotateY(0deg);
        filter: blur(0);
    }
}